data/
runs/
save_models/
slurm-*.out
*.sh
results_biograd_*/
outputs_logs*/
output_logs*/
slurms/
dynamic_debug/
grid_results_*.json
grid_results_seeds/mnist/*.json
grid_results_seeds/shd/*.json
**/__pycache__/
activity.ipynb
get_results.ipynb
traces_figure.ipynb
add_neurons_col.py
